@layer components {
    .button {
        --button-hover-brightness: 0.9;
        border-radius: var(--typical-radius);
        border: 1px solid var(--button-border-color, var(--color-iron-medium));
        padding: calc(var(--spacing) * 2) 1rem;
        /* accent-color: var(--color-accent-medium); */
        color: var(--button-color, inherit);
        background: var(--button-background, var(--color-body));
        cursor: pointer;
        font-size: var(--text-normal);
        font-weight: 600;
        display: inline-flex;
        transition:
            background-color,
            outline,
            border,
            color 0.1s ease-out;
        justify-content: center;
        align-items: center;

        @media (any-hover: hover) {
            &:hover {
                filter: brightness(var(--button-hover-brightness));
            }
        }

        @media (prefers-color-scheme: dark) {
            --button-hover-brightness: 1.1;
        }
    }

    .button--primary {
        --button-background: var(--color-accent-medium);
        @media (prefers-color-scheme: dark) {
            --button-background: var(--color-accent-light);
        }
        --button-border-color: var(--color-body);
        --button-color: var(--color-iron-inverted);
    }
}
