@layer components {
    .input {
        border-radius: var(--input-radius, var(--typical-radius));
        border: 1px solid var(--input-border-color, var(--color-iron-medium));
        padding-inline-start: var(--input-padding-inline-start, calc(var(--spacing) * 3));
        padding-inline-end: var(--input-padding-inline-end, calc(var(--spacing) * 2));
        padding-block: var(--input-padding-block, calc(var(--spacing) * 3));
        accent-color: var(--color-accent-light);
        color: var(--color-iron-darkest);
        font-size: var(--text-normal);
        background: transparent;
        // if the transition for the outline is out of order, it makes so a random
        // goofy black border come up first AND then, when finalized the animation, the right color.
        transition:
            background-color,
            outline,
            border-color,
            color 0.1s ease-out;
        // omg THIS HECKING THIGN WAS MAKING THE phone VIEW GO WONK AND TRY TO FILL ALLL
        // the fricking screen instead of being constarint to the hecking padding it already had
        inline-size: 100%;

        &:focus-visible {
            --input-border-color: var(--color-accent-light);
            --focus-outline-offset: -1px;
        }

        &::placeholder {
            color: var(--color-iron-dark);
        }

        &[autocomplete="one-time-code"] {
            text-align: center;
            font-weight: 900;
            font-size: var(--text-large);
            font-family: var(--font-mono);
            letter-spacing: 1ch; // new css stuff !!
            text-transform: uppercase;
        }
    }

    .input--proxy {
        --input-padding-inline-end: calc(var(--spacing) * 3);
        display: flex;
        align-items: center;
        transition:
            background-color,
            outline,
            border-color,
            color 0.1s ease-out;

        .input {
            --input-padding-inline-start: 0;
            --input-padding-inline-end: 0;
            --input-padding-block: 0;
            --input-border-color: transparent;
            --input-radius: 0;
            outline: 0;
        }

        a {
            // without this, the line height makes the input be 48.84 tall instead of the correct 43.59
            // of a normal input that is not inside a proxy
            line-height: 1;
        }

        &:focus-within {
            --input-border-color: var(--color-accent-light);
            outline: var(--typical-outline-size) solid
                var(--focus-outline-color, var(--color-accent-light));
            outline-offset: -1px;
        }
    }
}
