{% extends "partials/base.html" %}

{% block content %}
    {{<ui.heading text={globals.greeting ~ " " ~ user.login ~ "!"} />}}
    {{<ui.spacer px={16} />}}
    {% if kind == "current" %}
        {{<ui.text text={"Your account's email address has been updated to: " ~ user.new_address ~ "."} />}}
    {% elif kind == "new" %}
        {{<ui.text text="Your account's email address has been successfully updated!" />}}
    {% endif %}
    {{<ui.text text="If this was you, no action is needed." />}}
    {{<ui.text text="If this wasn't you... contact uh... wait. you are hecked. there's no contact address." />}}
{% endblock content %}
