{% extends "partials/base.html" %}

{% block content %}
    {{<ui.heading text={globals.greeting ~ " " ~ user.name ~ "!"} />}}
    {{<ui.spacer px={16} />}}
    {{<ui.text text="You requested to sign in to your account. Your code is:" />}}
    {{<ui.spacer px={8} />}}
    {{<forms.otp_code code={code} />}}
    {{<ui.spacer px={8} />}}
    {{<ui.text text="This code expires in 5 minutes." />}}
    {{<ui.spacer px={8} />}}
    {{<ui.text text="If you didn't request to sign in, you can safely ignore this email. Probably someone typed your email by mistake.. yeah probably." />}}
{% endblock content %}
