{% extends "partials/base.html" %}

{% block content %}
    {{<ui.heading text={globals.greeting ~ " " ~ user.name ~ "!"} />}}
    {{<ui.spacer px={16} />}}
    {% if kind == "current" %}
        {{<ui.text text={"You requested to change your account's email address to " ~ user.new_address ~". You can use the button below to verify the request:"} />}}
    {% elif kind == "new" %}
        {{<ui.text text="You requested to change your account's email address to this new address. You can use the button below to verify the request:" />}}
    {% endif %}
    {{<ui.spacer px={8} />}}
    {{<ui.button text="Verify email" />}}
    {{<ui.text text={"REMOVE ME: token -> " ~ user.token} />}}
    {{<ui.spacer px={8} />}}
    {{<ui.text text="This verification attempt expires in 15 minutes. Your new email also has to accept this request." />}}
    {{<ui.spacer px={8} />}}
    {{<ui.text text="If you didn't request to change your email, oh that's bad lol. Logout from all your open sessions." />}}
{% endblock content %}
