{% extends "partials/base.html" %}

{% set sign_word = "in" %}
{% if kind == "register" %}
    {% set sign_word = "up" %}
{% endif %}

{% block content %}
    {{<ui.heading text={globals.greeting ~ " " ~ user.login ~ "!"} />}}
    {{<ui.spacer px={16} />}}
    {% if kind == "register" %}
        {{<ui.text text="Use this code to finish creating your account:" />}}
    {% elif kind == "verification" %}
        {{<ui.text text="Use this code to confirm it's you and continue:" />}}
    {% endif %}
    {{<ui.spacer px={8} />}}
    {{<forms.otp_code code={code} />}}
    {{<ui.spacer px={8} />}}
    {{<ui.text text="This code expires in 5 minutes." />}}
    {{<ui.spacer px={8} />}}
    {{<ui.text text={"If you didn't request to sign " ~ sign_word ~ ", you can safely ignore this email. Probably someone typed your email by mistake.. yeah probably."} />}}
{% endblock content %}
